.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text-area {
    font-size: 24px;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }
  
  .text-area span {
    display: inline-block;
    margin-right: 5px;
  }